* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
    position: relative;
    padding: 0; margin: 0;
    font-family: "ProximaNova-Light", Arial, sans-serif;
};

html {
    height: 100%; /* 01 */
    /* tells html to go ahead and feel free to be 100% height */
}; 

body {
  background-color: #FFFFFF;
  /*font-family: times, Times New Roman, times-roman, georgia, serif;*/
  margin: 0;
  padding: 0px 0px 6px 0px;
  font-size: 18px;
  /*line-height: 44px;*/
  /*letter-spacing: -1px;*/
  font-weight: bold;
  min-height: 100%;
};

.chart {
  shape-rendering: crispEdges;
}

.mini text {
  font: 9px sans-serif; 
}

.main text {
  font: 12px sans-serif;  
}

.month text {
  text-anchor: start;
}

.todayLine {
  stroke: blue;
  stroke-width: 1.5;
}

.axis line, .axis path {
  stroke: black;
}

.miniItem {
  stroke-width: 6;  
}

.future {
  stroke: gray;
  fill: #ddd;
}

.past {
  stroke: green;
  fill: lightgreen;
  fill-opacity: .500;
}

.present {
  stroke: blue;
  fill: lightblue;
}

.brush .extent {
  stroke: gray;
  fill: blue;
  fill-opacity: .165;
}

.zero {
  stroke: green;
  fill:lightgreen;
  fill-opacity: .500;
}

.one {
  stroke: blue;
  fill:steelblue;
  fill-opacity: .500;
}

.two{
  stroke: orange;
  fill: peru;
  fill-opacity: .500;
}

#main-angular-view {
  /*background-color: #FFFFFF;*/
  /*height:10em;*/
  /*width: 50em;*/
  width: 100%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/*Toggled Side Bar*/

#wrapper {
    position: fixed;
    padding-left: 0;
    top: 0;
    /*padding-top: 0;*/
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 200px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 200px;
    width: 0;
    height: 100%;
    margin-left: -200px;
    overflow-y: auto;
    /*background: #000;*/
    background: #359183;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 200px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -200px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    /*color: #999999;*/
    color: #FFFFFF;
    font-size: 24px;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    /*font-size: 48px;*/
    line-height: 60px;
}
.sidebar-nav > .sidebar-brand a {
    /*color: #999999;*/
    color: #FFFFFF;
}
.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}


@media(min-width:768px) {
    #wrapper {
        padding-left: 200px;
    }
    #wrapper.toggled {
        padding-left: 0;
    }
    #sidebar-wrapper {
        width: 200px;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }
    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
